In [624]:
import pandas as pd
import numpy as np

In [625]:
df=pd.read_csv('automobile.csv')
df.head(10)

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,5,2,?,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,6,1,158,audi,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,7,1,?,audi,gas,std,four,wagon,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,8,1,158,audi,gas,turbo,four,sedan,fwd,front,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,9,0,?,audi,gas,turbo,two,hatchback,4wd,front,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

In [626]:
df.shape

(205, 27)

In [627]:
df.columns

Index(['Unnamed: 0', 'symboling', 'normalized-losses', 'make', 'fuel-type',
       'aspiration', 'num-of-doors', 'body-style', 'drive-wheels',
       'engine-location', 'wheel-base', 'length', 'width', 'height',
       'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size',
       'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower',
       'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [628]:
df['price'].value_counts()

?        4
18150    2
7898     2
9279     2
8845     2
16500    2
7609     2
6692     2
5572     2
8921     2
7775     2
6229     2
7957     2
7295     2
8495     2
13499    2
40960    1
16845    1
7975     1
7129     1
9639     1
15250    1
7999     1
13645    1
6295     1
11850    1
35056    1
19045    1
10245    1
9538     1
        ..
8189     1
6989     1
7463     1
12945    1
5151     1
18620    1
37028    1
15580    1
13415    1
6479     1
8949     1
36000    1
14489    1
7299     1
19699    1
45400    1
21105    1
22625    1
5118     1
11048    1
6095     1
9549     1
12940    1
5499     1
6488     1
18344    1
11595    1
32528    1
6785     1
10945    1
Name: price, Length: 187, dtype: int64

In [629]:
df['price'].replace('?',0,inplace=True)

In [630]:
df['price'].astype(int)

0      13495
1      16500
2      16500
3      13950
4      17450
5      15250
6      17710
7      18920
8      23875
9          0
10     16430
11     16925
12     20970
13     21105
14     24565
15     30760
16     41315
17     36880
18      5151
19      6295
20      6575
21      5572
22      6377
23      7957
24      6229
25      6692
26      7609
27      8558
28      8921
29     12964
       ...
175     9988
176    10898
177    11248
178    16558
179    15998
180    15690
181    15750
182     7775
183     7975
184     7995
185     8195
186     8495
187     9495
188     9995
189    11595
190     9980
191    13295
192    13845
193    12290
194    12940
195    13415
196    15985
197    16515
198    18420
199    18950
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: int32

In [631]:
valu=df['price'].median()
valu

10198.0

In [632]:
df['price'].replace(0,valu,inplace=True)
df['price'].head(10)

0    13495
1    16500
2    16500
3    13950
4    17450
5    15250
6    17710
7    18920
8    23875
9    10198
Name: price, dtype: object

In [633]:
#df['normalized-losses'].astype(str).astype(int)
df['normalized-losses'].astype(str)
df['normalized-losses'].replace('?','0',inplace=True)
df.head(15)

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,0,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,0,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,0,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,5,2,0,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,6,1,158,audi,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,7,1,0,audi,gas,std,four,wagon,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,8,1,158,audi,gas,turbo,four,sedan,fwd,front,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,9,0,0,audi,gas,turbo,two,hatchback,4wd,front,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,10198
10,10,2,192,bmw,gas,std,two,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
11,11,0,192,bmw,gas,std,four,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
12,12,0,188,bmw,gas,std,two,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
13,13,0,188,bmw,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
14,14,1,0,bmw,gas,std,four,sedan,rwd,front,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565

In [634]:
df['normalized-losses'].astype(int)

0        0
1        0
2        0
3      164
4      164
5        0
6      158
7        0
8      158
9        0
10     192
11     192
12     188
13     188
14       0
15       0
16       0
17       0
18     121
19      98
20      81
21     118
22     118
23     118
24     148
25     148
26     148
27     148
28     110
29     145
      ...
175     65
176     65
177     65
178    197
179    197
180     90
181      0
182    122
183    122
184     94
185     94
186     94
187     94
188     94
189      0
190    256
191      0
192      0
193      0
194    103
195     74
196    103
197     74
198    103
199     74
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 205, dtype: int32

In [635]:
val=df['normalized-losses'].median()
val

103.0

In [636]:
df['normalized-losses'].replace('0',val,inplace=True)
df['normalized-losses'].head(10)

0    103
1    103
2    103
3    164
4    164
5    103
6    158
7    103
8    158
9    103
Name: normalized-losses, dtype: object

In [637]:
df['num-of-doors'].value_counts()

four    114
two      89
?         2
Name: num-of-doors, dtype: int64

In [638]:
df['num-of-doors'].astype(str)

0       two
1       two
2       two
3      four
4      four
5       two
6      four
7      four
8      four
9       two
10      two
11     four
12      two
13     four
14     four
15     four
16      two
17     four
18      two
19      two
20     four
21      two
22      two
23      two
24     four
25     four
26     four
27        ?
28     four
29      two
       ...
175    four
176    four
177    four
178     two
179     two
180    four
181    four
182     two
183     two
184    four
185    four
186    four
187    four
188    four
189     two
190     two
191    four
192    four
193    four
194    four
195    four
196    four
197    four
198    four
199    four
200    four
201    four
202    four
203    four
204    four
Name: num-of-doors, Length: 205, dtype: object

In [639]:
(df.drop(df.loc[df['num-of-doors']=='?'].index,inplace=True))

In [640]:
#(df.drop(df.loc[df['price']=='0'].index,inplace=True))

In [641]:
df['num-of-doors'].head(30)

0      two
1      two
2      two
3     four
4     four
5      two
6     four
7     four
8     four
9      two
10     two
11    four
12     two
13    four
14    four
15    four
16     two
17    four
18     two
19     two
20    four
21     two
22     two
23     two
24    four
25    four
26    four
28    four
29     two
30     two
Name: num-of-doors, dtype: object

In [642]:

lst=df[['Unnamed: 0']]
df.drop(lst,axis=1,inplace=True)
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,103,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,103,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,103,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,103,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,103,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,103,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,10198

In [643]:
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,103,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,103,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,103,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,103,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,103,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,103,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,10198

In [644]:
from sklearn.preprocessing import LabelEncoder
le_task_1=LabelEncoder()
df['make']=le_task_1.fit_transform(df['make'])
df['fuel-type']=le_task_1.fit_transform(df['fuel-type'])
df['aspiration']=le_task_1.fit_transform(df['aspiration'])
df['num-of-doors']=le_task_1.fit_transform(df['num-of-doors'])
df['body-style']=le_task_1.fit_transform(df['body-style'])
df['drive-wheels']=le_task_1.fit_transform(df['drive-wheels'])
df['engine-location']=le_task_1.fit_transform(df['engine-location'])
df['wheel-base']=le_task_1.fit_transform(df['wheel-base'])
df['engine-type']=le_task_1.fit_transform(df['engine-type'])
df['num-of-cylinders']=le_task_1.fit_transform(df['num-of-cylinders'])
df['fuel-system']=le_task_1.fit_transform(df['fuel-system'])
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,103,0,1,0,1,0,2,0,2,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495
1,3,103,0,1,0,1,0,2,0,2,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500
2,1,103,0,1,0,1,2,2,0,10,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,1,1,0,0,3,1,0,30,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,1,1,0,0,3,0,0,28,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450
5,2,103,1,1,0,1,3,1,0,30,...,136,5,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,1,1,0,0,3,1,0,42,...,136,5,3.19,3.40,8.5,110,5500,19,25,17710
7,1,103,1,1,0,0,4,1,0,42,...,136,5,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,1,1,1,0,3,1,0,42,...,131,5,3.13,3.40,8.3,140,5500,17,20,23875
9,0,103,1,1,1,1,2,0,0,29,...,131,5,3.13,3.40,7.0,160,5500,16,22,10198

In [645]:
df['num-of-doors'].value_counts()

0    114
1     89
Name: num-of-doors, dtype: int64

In [646]:
df.shape

(203, 26)

In [647]:
import matplotlib.pyplot as plt
from sklearn.ensemble import ExtraTreesClassifier

In [648]:
df['num-of-doors'].value_counts()

0    114
1     89
Name: num-of-doors, dtype: int64

In [649]:
X=df[[ 'symboling', 'normalized-losses', 'make', 'fuel-type',
       'aspiration', 'num-of-doors', 'body-style', 'drive-wheels',
       'engine-location', 'wheel-base', 'length', 'width', 'height',
       'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size',
       'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower',
       'peak-rpm', 'city-mpg', 'highway-mpg']]
X[0:5]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,3,103,0,1,0,1,0,2,0,2,...,2,130,5,3.47,2.68,9.0,111,5000,21,27
1,3,103,0,1,0,1,0,2,0,2,...,2,130,5,3.47,2.68,9.0,111,5000,21,27
2,1,103,0,1,0,1,2,2,0,10,...,3,152,5,2.68,3.47,9.0,154,5000,19,26
3,2,164,1,1,0,0,3,1,0,30,...,2,109,5,3.19,3.40,10.0,102,5500,24,30
4,2,164,1,1,0,0,3,0,0,28,...,1,136,5,3.19,3.40,8.0,115,5500,18,22

In [650]:
Y=df[['price']]
Y[0:5]

   price
0  13495
1  16500
2  16500
3  13950
4  17450

In [651]:
X = X.apply(pd.to_numeric, errors='coerce')
Y = Y.apply(pd.to_numeric, errors='coerce')

In [652]:
X.fillna(0, inplace=True)
Y.fillna(0, inplace=True)

In [653]:
'''
import matplotlib.pyplot as plt
from sklearn.ensemble import ExtraTreesClassifier
X = df.iloc[:,0:25] 
Y = df.iloc[:,-1]    
model = ExtraTreesClassifier()
model.fit(X,Y)
print(model.feature_importances_)
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(25).plot(kind='bar')
plt.show()
'''

"\nimport matplotlib.pyplot as plt\nfrom sklearn.ensemble import ExtraTreesClassifier\nX = df.iloc[:,0:25] \nY = df.iloc[:,-1]    \nmodel = ExtraTreesClassifier()\nmodel.fit(X,Y)\nprint(model.feature_importances_)\nfeat_importances = pd.Series(model.feature_importances_, index=X.columns)\nfeat_importances.nlargest(25).plot(kind='bar')\nplt.show()\n"

In [654]:
from sklearn.model_selection import train_test_split

In [655]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [656]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [657]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [658]:
y_pred = regressor.predict(X_test)

In [659]:
y_pred[0:5]

array([[ 1726.20163245],
       [14175.52528603],
       [ 6595.76513208],
       [ 9131.7372944 ],
       [18421.11525745]])

In [660]:
y_test[0:5]

       price
18    5151.0
46   11048.0
34    7129.0
38    9095.0
111  15580.0

In [661]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))

Mean Absolute Error: 2278.1908021243007
Mean Squared Error: 12713857.744082259

In [662]:
from sklearn.metrics import r2_score 
r2_score(y_test, y_pred)

0.8494652902906605